/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

h1{
  text-align: center;
}

.welcome {
  width: 70%;
  text-align: center;
  font-size: 24px;
  padding: 40px;
  margin: 55px auto 0 auto;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

body{
  background-color: bisque;
}

.question-and-score {
  font-size: 20px;
  font-weight: 600px;
  color:black;
  text-align: center;
  list-style: none;
}

.question-form .question {
  font-size: 20px;
  font-weight: 600px;
}

fieldset {
  width: 60%;
  padding: 40px;
  margin: 55px auto 0 auto;
  background: white;
  border-radius: 10px;
  border: none;
}

legend {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 20px;
}

#next-question-btn {
  display: none;
  float: right;
}

label {
  font-size:20px;
}

button {
  margin-top:10px;
  height: auto;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  border: 0;
  cursor: pointer;
  margin-bottom: 0;
  padding: 10px 20px;
}

.right-answer {
  padding: 10px 20px;
  margin: 5px 20px;
  color: green;
 }
 
 .wrong-answer {
   padding: 10px;
   margin: 5px 20px;
   color: red;
 }